[Unit]
Description=Run GEMIVAS video cleanup worker hourly

[Timer]
OnBootSec=6min
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
