[Unit]
Description=Run GEMIVAS video publish worker every 5 min

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
