[Unit]
Description=Run GEMIVAS radio health worker every 10 min

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
