[Unit]
Description=Run GEMIVAS video download worker every 30 min

[Timer]
OnBootSec=3min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
